$family: "Lora", "Vazirmatn", sans-serif;
$stylish: "Lora", "PersianKhatKhati", "Vazirmatn", sans-serif;

@use "../../node_modules/vuetify" with (
  $font-size-root: 1.0rem,
  $body-font-family: $family
);

html {
  font-family: $family;
}

.stylish {
  font-family: $stylish!important;
}

.big-text {
  font-size: 1.1rem;
}

.v-btn__content {
  letter-spacing: 0!important;
  text-transform: none;
}
